<%= form_for [@project, @comment], remote: true do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_area :content, class:"input", placeholder:"コメント" %>
      <%= f.hidden_field :project_id, value: @project.id %>
    </div>
  </div>
  <br>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'コメントする', class:"button is-link form__submit" %>
    </div>
  </div>
<% end %>