<div class= "row">
  <div class= "col-md-8 col-md-offset-2">
    <table class= "table">
      <th><p>会員id</p></th>
          <th><p>会員名</p></th>
          <th><p>ナイストライ数</p></th>
          <th><p>提案数</p></th>
          <th><p></p></th>
      <% @users.each do |user| %>
          <tr>
          <td>
              <%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', fallback:'no-img.jpg', size:'40x40' %>
            </td>
            <td>
            <td> <%= user.id %> </td>
            <td> <%= link_to user.family_name + user.farst_name,user_path(user.id) %> 
            </td>
            <td> <p>"ナイストライ"</p></td>
            <td> <p></p></td>
            <td>
            <% if user == current_user %> 
              <%= link_to "編集", edit_user_path(user),class:"btn btn-primary" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
