<h2 class="page-header text-center"><%= @user.family_name + @user.farst_name %>のページ</h2><br>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">最近参加したプロジェクト</div>
  </div>
</div>