<h2 class="page-header text-center border-bottom">提案一覧</h2>
<div class="row">
  <div class="col-md-12">
    <%= link_to "提案する",new_project_path, {class: "btn btn-success"} %>
    <canvas id="myChart" width="900" height="400"></canvas>

  </div>
</div>
<div class="row">
  <% @projects.each do |project| %>
    <table class="table">
    <tr>
      <td><%= project.id %></td>
      <td><%= project.name %></td>
      <td><%= project.content %></td>
    </tr>
    </table>
  <% end %>
</div>