<div class="row project-new">
  <div class="text-center">
    <% if @project.errors.any? %>
      <h2> <%= pluralize(@project.errors.count, "error") %> prohibited this obj from being saved: </h2>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %> 
    <% end %>
  </div>
  <h2 class="page-header text-center border-bottom">提案ページ</h2><br>
  <%= render partial: 'form', locals: { project: @project} %>
</div>