      <h2 class="heading">作成者について</h2>
      
        </div>
      </div>
      <div class="contants_info">
        <div class="col-md-6">
          <div class="access-info">
            <dl>
              <div class="access-info-content">
                <dt>GitHub</dt>
                <dd><i class="fab fa-github-square"></i>
                  <%= link_to "https://github.com/nizutaro" %></dd>
              </div>
              <div class="access-info-content">
                <dt>twitter</dt>
                <dd><i class="fab fa-twitter-square"></i> 
                <%= link_to "https://twitter.com/gumiponz" %></dd>
              </div>
            </dl>
        </div>
      </div>