<div class="row">
  <div class="col-md-12 about_img text-center">
    <h2>改善文化を創るアプリ</h2>
         <!-- image_tag '/assets/about.jpg' -->
         <img src="<%= asset_path "/assets/about" %>" />
  </div>
</div>
<div class="row">
  <div class="explanation">
    <div class="col-lg-4">
      <h2>改善文化を創る</h2>
      <p>誰もが簡単に利用が可能で、継続的に利用することで改善文化を醸成するアプリです。</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>簡単なフォーマット</h2>
      <p>誰でも簡単に投稿ができ、数値化することで誰でも効果が確認できます！</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>仕事の見える化</h2>
      <p>投稿を続けることによって、具体的にどういった仕事なのか共有ができます。</p>
    </div><!-- /.col-lg-4 -->
  </div>
</div><!-- /.row -->