@import "./google_map.scss";

.access {
  margin-bottom: 50px;
}

.heading {
  color: #1e5099;
  text-align: center;
  margin: 30px;
  padding: 30px;

  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #fec559;
    .a {
      display: block;
    }
  }
}

.explanation {
  padding-bottom: 50px;
  text-align: center;
  img {
    padding-top: 30px;
    display: block;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
  }
  .structure-text {
    padding: 10px;
  }
}

.heading-text {
  padding-top: 20px;
}

/*================
devise関連
=================*/
.devise-btn {
  width: 300px;
  height: 50px;
  background-color: #41bcea;
  border-radius: 4px;
  border-style: none;
}

.guest-btn {
  width: 300px;
  height: 50px;
  background-color: #41bcea;
  border-radius: 4px;
  border-style: none;
  margin: 30px;
  padding: 15px;
}

.actions {
  a {
    display: block;
    width: 300px;
  }
}
.button_wrapper {
  text-align: center;
  margin: 50px 0 100px 0;
}

.horizontal_contents {
  list-style-type: none;
  text-align: center;
  li {
    float: left;
    padding: 10px;
  }
  a {
    color: black;
  }
  i {
    padding: 5px;
  }
}

/*================
pagenate関連
=================*/
.pagination {
  padding-bottom: 100px;
  text-align: center;
}
