/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin top_page_btn {
  text-align: center;
  float: none;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  color: white;
  background: #d9edf7d4;
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  position: relative;

  &:hover {
    color: #fff;
    transition: 400ms;
    background: #ffcc66;
  }
}
//* ヘッダー
.navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-bottom: 1px solid #e5e9ef;
  padding: 1rem 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
}
.nav-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.nav-header-list {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  font-weight: 700;
  font-size: 13px;
  padding: 10px;
  margin-top: 20px;
  padding-right: 20px;
  text-align: right;

  a {
    padding: 10px;
    color: #1e5099;
    margin-left: 22px;
    border-radius: 5px;
    position: relative;
    text-decoration: none;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: #fec559;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.main {
  text-align: center;
  margin-top: 100px;
}

//aboutページ
.about {
  height: 750px;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin: 0 auto;
  color: white;
  vertical-align: middle;
  border-bottom: 40px;
  background-image: image-url("about.jpg");
  background-size: cover;
  opacity: 0.8;
  text-align: center;

  * {
    display: block;
  }

  .about-title {
    font-size: 50px;
    padding-top: 200px;
    font-family: "Raleway", sans-serif;
    text-shadow: 1px 1px 1px black;
  }

  .btn {
    @include top_page_btn();
  }
}

.heading {
  color: #1e5099;
  text-align: center;
  margin: 30px;
  padding: 30px;

  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #fec559;
    .a {
      display: block;
    }
  }
}
.explanation {
  padding-bottom: 50px;
  text-align: center;
  img {
    padding-top: 30px;
    display: block;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
  }
  .structure-text {
    padding: 10px;
  }
}

/*=================
新規会員登録
===================*/
#sign_up {
  background-color: #eceff1;
  padding-bottom: 40px;
  text-align: center;

  .btn {
    @include top_page_btn();
  }

  a {
    display: block;
  }
}

.heading-text {
  padding-top: 20px;
}

/*================
フッター
=================*/
footer {
  width: 100%;
  height: 60px;
  background-color: #67635e;
  margin-bottom: 0;
  .footer-list a {
    float: left;
  }

  .left-list {
    padding: 10px 0;
  }
  .right-list {
    list-style: none;
  }
  .center-list {
    font-size: 16px;
  }
  .col-md-4 {
    color: #fafafa;
    text-align: center;
    line-height: 60px;

    a {
      padding: 5px;
      color: #a39d96;
    }
  }

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  .fab {
    font-size: 30px;
    text-decoration: none;
    color: #a39d96;
  }
}

/*================
devise関連
=================*/
.devise-btn {
  width: 300px;
  height: 50px;
  background-color: #41bcea;
  border-radius: 4px;
  border-style: none;
}
.button_wrapper {
  text-align: center;
  margin: 50px 0 100px 0;
}

/*================
pagenate関連
=================*/
.pagination {
  padding-bottom: 100px;
  text-align: center;
}
/* ========================================================================
  Media Queries
======================================================================== */

@media (max-width: 768px) {
  /* =====================
	  setting
  ===================== */

  .nav-header-logo img {
    float: none;
    height: 50px;
  }
}
