/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin top_page_btn {
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  width: 40rem;
  a {
    display: block;
    color: white;
    text-decoration: none;
  }

  &:hover {
    color: #fff;
    transition: 400ms;
    background: #ffcc66;
  }
}
//* ヘッダー
.navbar {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid #e5e9ef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 1rem 0;
  &__left {
    float: left;
  }

  &__right {
    vertical-align: top;
    padding-top: 15px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px;
    margin-top: 20px;
    padding-right: 20px;
    text-align: right;
    float: right;
    a {
      padding: 10px;
      color: #1e5099;
      margin-left: 22px;
      border-radius: 5px;
      position: relative;
      text-decoration: none;

      &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: #fec559;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform 0.3s;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
}
.menu-icon {
  display: none;
}
.nav-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.main {
  text-align: center;
  margin-top: 100px;
}

//aboutページ
.about {
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 40px;
  color: white;
  height: 750px;
  padding-top: 20px;
  margin: 0 auto;
  vertical-align: middle;

  * {
    display: block;
  }
}

.about-img1 {
  background-image: image-url("about1.jpg");
}
.about-img2 {
  background-image: image-url("about2.jpg");
}
.about-img3 {
  background-image: image-url("about3.jpg");
}
.about-img4 {
  background-image: image-url("about4.jpg");
}

.login {
  position: absolute;
  width: 100%;
  .about-title {
    color: white;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    padding-top: 200px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
  }
  .btn {
    @include top_page_btn();
    border: 2px solid white;
  }
}

.heading {
  color: #1e5099;
  text-align: center;
  margin: 30px;
  padding: 30px;

  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #fec559;
    .a {
      display: block;
    }
  }
}
.explanation {
  padding-bottom: 50px;
  text-align: center;
  img {
    padding-top: 30px;
    display: block;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
  }
  .structure-text {
    padding: 10px;
  }
}

/*=================
新規会員登録
===================*/
#sign_up {
  background-color: #eceff1;
  padding-bottom: 40px;
  text-align: center;

  .btn {
    @include top_page_btn();
    background-color: green;
    a {
      color: white;
    }
  }
}

.heading-text {
  padding-top: 20px;
}

/*================
フッター
=================*/
footer {
  background-color: #67635e;
  height: 100px;
  position: absolute;
  width: 100%;
  .footer__left {
    padding: 10px 0;
  }

  .right-list {
    list-style: none;
  }
  .center-list {
    font-size: 16px;
  }
  .col-md-4 {
    color: #fafafa;
    text-align: center;
    line-height: 60px;

    a {
      padding: 5px;
      color: #a39d96;
    }
  }

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  .fab {
    font-size: 30px;
    text-decoration: none;
    color: #a39d96;
  }
}

/*================
devise関連
=================*/
.devise-btn {
  width: 300px;
  height: 50px;
  background-color: #41bcea;
  border-radius: 4px;
  border-style: none;
}
.button_wrapper {
  text-align: center;
  margin: 50px 0 100px 0;
}

/*================
pagenate関連
=================*/
.pagination {
  padding-bottom: 100px;
  text-align: center;
}
/* ========================================================================
  Media Queries
======================================================================== */

@media (max-width: 1000px) {
  /* =====================
	setting
  ===================== */
  .navbar__right {
    display: none;
    .menu-icon {
      display: block;
      margin-right: 20px;
      font-size: 40px;
    }
  }

  .login {
    margin-top: -600px;
    font-size: 2.2rem;
    .about-title {
      margin: 20px;
    }
  }

  .footer {
    height: 300px;
    flex-direction: column;
    text-align: center;
  }

  /* ---------------------------- */
  /* --- ハンバーガーアイコン --- */
  /* ---------------------------- */
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }
  /* ------------------------ */
  /* ------ spメニュー ------ */
  /* ------------------------ */
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }
  #sp-menu ul {
    list-style: none;
  }
  #sp-menu li {
    text-align: center;
    margin: 60px;
    font-size: 30px;
  }
  #sp-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  /* =====================
	setting
  ===================== */
  .login {
    .btn {
      width: 80%;
      a {
        font-size: 22px;
      }
    }
  }
}
