// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-position {
  display: block;
  text-align: center;
}

.label {
  margin-left: 5px;
}

.show-page {
  margin-top: 100px;
}
